body {
    font-family: Roboto, sans-serif;
}

#display {
    font-size: 36px;
    font-weight: bold;
}

.button {
    font-size: 26px;
    border: 1px solid lightslategray;
    user-select: none;
    transition: all .07s ease;
}

.pressed {
    background-color: cadetblue;
}


#calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-style: solid;
    width: 300px;
}

#buttons {
    display: flex;
    justify-content: center;
}

#numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 250px; */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.space {
    margin: 2px;
}

.button,
.space {
    width: 50px;
    height: 50px;    
}

.numRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#operators {
    display: flex;
    flex-direction: column;
}

#functions {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}